body{
    background: rgb(0,26,255);
background: linear-gradient(56deg, rgba(0,26,255,1) 0%, rgba(205,0,255,1) 100%);
}
nav{
    display: flex;
    justify-content: space-around;
    background: green;
    display: flex;
    position: absolute;
    justify-content: space-around;
    z-index: 1000000;
    width: 100vw;
    padding: 0;
    top: 0;
    left: 0;
    .navigation{
        width: 40%;
        display: flex;
        justify-content: space-evenly;
    }
    button{
        height: 30px;
        margin-top: 12px;
    }
    
}
a{
    color: black;
    text-decoration: none;
}
