nav{
    display: flex;
    justify-content: space-around;
    .navigation{
        width: 40%;
        display: flex;
        justify-content: space-evenly;
    }
    button{
        height: 30px;
        margin-top: 12px;
    }
}
section{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    .assignment,.project{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 5rem;
        height: 20rem;
        width: 20rem;
        background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
}
body{
    background: rgb(0,26,255);
background: linear-gradient(56deg, rgba(0,26,255,1) 0%, rgba(205,0,255,1) 100%);
}